_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# Hugo
.hugo_build.lock
/public/
/resources/
/jsconfig.json
hugo_stats.json
/themes/

# Python
/venv/
/__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# Credentials/keys/etc
.env
devcontainer.env